html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background:#dad8d8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app{
  margin: 1rem;
}
.main-product{
  margin-bottom: 20px;
}
.main-product img{
  position: relative;
  border-radius: 8px;
  width: 100%;
  border: 0.5px solid black;
}

.promo-text{
  border-radius: 8px;
  text-align: center;
  border: 5px solid #2F2E2E;
  background: #807D7D;
  color: #ffff;
 
}
.promo-text h1{
  font-size: 1rem;
}

.card{
  width: 20%;
  height: auto;
  border-radius: 5%;
  margin: 5px;
  filter: drop-shadow(5px 5px 10px #0000);
}
