html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #dad8d8;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.main-product {
  margin-top: 10rem;
  margin-bottom: 20px;
}
.main-product img {
  position: relative;
  display: flex;
  border-radius: 8px;
  width: 100%;
  border: 0.5px solid black;
}
.promo-text {
  border-radius: 8px;
  text-align: center;
  border: 5px solid #2f2e2e;
  background: #807d7d;
  color: #ffff;
}
.promo-text h1 {
  font-size: 1rem;
}
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.a {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: #fff;
  padding: 5px;
  border: 2px solid #2f2e2e;
  border-radius: 10px;
  margin: 5px;
}
.img {
  border-radius: 10px;
}
.card {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5%;
  filter: drop-shadow(5px 5px 10px #0000);
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 2;
  background: #2f2e2e;
  filter: drop-shadow(5px 5px 10px #0000);
}
.logo {
  width: 250px;
  padding-top: 0.5rem;
}
.menu {
  width: 100%;
}
.menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.menu li {
  background: #807c7c;
  border: 2px solid c;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
}
.menu li:hover {
  background: #5f5e5e;
}
.num-cart {
  width: 32px;
  height: 32px;
  text-align: center;
  background: #eb5858;
  border: 5px solid #2f2e2e;

  border-radius: 50%;
  position: absolute;
  top: -19px;
  left: 55px;
}
.page{
  width: 100%;
  margin: 10rem 0 10rem 0;
}
.page h1, .page p{
  margin-left: 1.5rem;
}
.product-page, .product-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-page h1, .product-sections h1, .page h1 {
  margin-bottom: 0;
}
.product-page p, .product-sections p, .page p {
  margin-top: 0;
}
.product-page img, .product-sections img {
  width: 100%;
  border: 2px solid #2f2e2e;
  border-radius: 10px;
}
.price {
  margin-top: 5px;
  margin-bottom: 0;
}
.price3x {
  margin-top: 0;
}
.product-feed h3 {
  margin-left: 1rem;
}

.product {
  width: 90%;
}
.button-add {
  width: 100%;
  background: #80ff00;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
}
.button-add:hover {
  background: #61c200;
}
.divider {
  margin: 2rem 0;
  height: 1px;
  background: #2f2e2e;
}
.description h2 {
  margin-bottom: 2rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2f2e2e;
  padding: 1rem;
}
.container h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.container p {
  margin-top: 0;
  color: #fff;
  font-weight: bold;
}
.container h3 {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}
.containerInput {
  background-color: #807d7d;
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}
.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  color: #fff;
  outline: none;
}
.containerInput input::placeholder {
  color: #f1f1f1;
}
.buttonSend {
  background-color: #2f2e2e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.cartBanner {
  margin-bottom: 40px;
}
.description-item {
  width: 90%;
  display: flex;
  justify-content: start;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.568));
}
.image-item {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.image-item img {
  width: 52px;
}
.title-item {
  width: 50%;
}
.title-item .title {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0;
}
.title-item .description {
  margin-top: 0;
  font-size: 0.8rem;
}
.price-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-item p {
  font-weight: bold;
  margin-bottom: 5px;
}
.price-item button {
  border: none;
  background: #eb5858;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
}
.total {
  width: 90%;
  display: flex;
  justify-content: end;
}
.total h2 {
  margin-left: 10px;
}

.buy-button {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.buy-button button {
  width: 100%;
  border: none;
  padding: 15px 23px;
  background: chartreuse;
  border-radius: 8px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #2f2e2e;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: #2f2e2e81;
}

@media (min-width: 720px) {
  .navbar {
    align-items: start;
    flex-direction: row;
    padding: 15px;
  }
  .logo {
    width: 350px;
  }
  .menu {
    margin-right: 20px;
  }
  .menu ul {
    justify-content: end;
  }
  .menu li {
    margin: 10px;
  }
  .product {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .product img{
    width: 80%;
  }

  .page{
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
  }
  .page h1, .page p{
    margin-left: 0;
  }

  .product-page{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
}
